<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Dashboard</h1>

<h2>Welcome, <%=@user.username%>!</h2>

<a href="/logout">Log Out</a>

<h3>Warehouses</h3>

<a href="/warehouses/new">Create New Warehouse</a>

<%@warehouse.each do |warehouse|%>
    <p></p>
    <p><a href="/warehouses/<%=warehouse.id%>"><%=warehouse.name%></a></p>
    <%end%>

<h3>Products</h3>

<a href="/products/new">Create New Product</a>

<%@product.each do |product|%>
    <p></p>
    <p><a href="/products/<%=product.id%>"><%=product.name%></a></p>
    <%end%>

<h3>Customers</h3>